.container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

button {
  height: 56px;
  width: 56px;
  font-size: 3rem;
  line-height: 1rem;
}

input {
  height: 56px;
  width: 98px;
  border: unset;
}
