.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

button {
  height: 56px;
  width: 56px;
  font-size: 3rem;
  line-height: 1rem;
  cursor: pointer;
}

strong {
  text-align: center;
}
