---
type Props = {
  orderedPages: readonly { readonly name: string; readonly url: string }[];
};

const { orderedPages } = Astro.props;
---

<ol class="container">
  {
    orderedPages.map(({ name, url }) => (
      <li>
        <a href={url}>{name}</a>
      </li>
    ))
  }
</ol>
<style>
  .container {
    display: flex;
    flex-direction: column;
    gap: var(--space);
    padding-left: var(--space);
  }

  ol {
    list-style-type: none;
    padding: 0;
  }

  a {
    color: rgb(var(--white));
  }
</style>
