.container {
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 16px;
  background-color: #ffffff;
  color: #242424;
  border-top: 1px solid #e0e0e0;
}

.darkMode {
  color: #ffffff;
  background-color: #242424;
  border-top: 1px solid #303030;
}
